<ul class="catalog-entries">
    {% for item in collections[catalog] | orderBy("data.title", "asc") %}
        {% if catalog == item.data.catalog and item.data.type == "entry" %}
            <li class="{{ item.data.type }}">
                <h3>{{ item.data.title }}</h3>
                {% if item.data.introduction %}<p>{{ item.data.introduction | markdownifyInline }}</p>{% endif %}
                <a href="{{ item.url }}">see more</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
