.modules-index-alt {
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: [topbar-start] auto [topbar-end content-start] 1fr [content-end footer-start] auto [footer-end];
  grid-template-columns: [tools-start] 240px [tools-end list-start] 300px [list-end read-start] 2fr [read-end];
  /* gap: 1em 2ch; */
  & .background {
    display: none;
  }
  & footer {
    grid-column: tools / read;
    grid-row: footer;
    padding: 1em;
  }
  & .topbar {
    grid-column: tools / read;
    grid-row: topbar;
    padding: 1em 5ch;
  }
  & .menu {
    padding: 1em 5ch;
    grid-column: tools;
    grid-row: content;
  }
  & .catalog-entries {
    grid-column: list;
    grid-row: content;
  }
}

/*   & .background { */
/*     position: fixed; */
/*     top: 0; */
/*   } */
/**/

.modules-index-alt .catalog-entries {
  position: sticky;
  top: 2em;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
  font-family: var(--font-sans);

  & li {
    margin-bottom: 0.8em;
    & a {
      /* color: var(--color-main); */
      font-weight: 800;
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 2ch;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      text-decoration: none;

      & img {
        background: var(--color-body);
        grid-column: 1;
        display: block;
        width: 100%;
        height: 50px;
        object-fit: cover;
        object-position: left -3em;
        border: 5px solid var(--solid-body);
      }
      & .entry-content {
        & .module-manufacturer {
          font-weight: 300;
          letter-spacing: 0.06ch;
          font-size: 0.8em;
          display: block;
        }
        & .discontinued {
          font-size: 0.8em;
        }
      }

      & span {
        grid-column: 2;
      }
    }
  }
}

.modules-index-alt {
  & .menu {
    position: sticky;
    top: 2em;
    max-height: 100vh;
    height: max-content;

    & input#searchbox {
      width: 90%;
      margin: 0 0 0.5em;
    }

    & button#reset {
      border: none;
      font-style: italic;
      text-decoration: underline;
      background: none;
    }
  }

  & #flax-filters {
    & input:checked {
      color: red;
    }

    & label {
      display: block;
    }
  }
}

.modules-index-alt #entry-show {
  padding: 2em 3ch 5em;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
  margin: auto;

  & > section {
    display: none;

    &:target {
      display: block;
    }
  }
}

/*filtering done the right way*/

.modules-index-alt {
  .catalog-entry {
    display: none;
  }

  .is-selected {
    display: block;
  }

  .found {
    display: block;
    order: 0;
  }

  .found:not(.is-selected) {
    color: grey;
    order: 0;
  }
  .searchmode .is-selected {
    display: none;
  }
  .searchmode .is-selected.is-found {
    display: block;
  }
  .searchmode :not(.is-selected).is-found {
    display: block;
    opacity: 0.4;
  }
}

/*content*/

.modules-index-alt #entry-show {
  & .catalog-entry-content {
    & > div {
      max-width: 70ch;
      margin: auto;
    }
    & .metadata {
      color: var(--color-main);
      padding: 0.5em 1ch;
      padding: 0;
      margin: 0;
      margin-bottom: 5em;
      padding: 1em 0;
      border-bottom: 1px solid grey;
      & p {
        margin: 0;
      }
      & .shops {
        display: flex;
        gap: 3ch;
      }
    }
    & > figure {
      margin: 0;

      padding: 0;
      width: 100%;
      display: flex;
      background: var(--color-body);
      padding: 2em;
      position: relative;
      overflow: hidden;
      & figcaption {
        line-height: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: white;
        font-size: 30em;
        z-index: 0;
        font-weight: 100;
        font-family: var(--font-sans);
        margin: auto;
        inset: 0;
      }
      & img {
        position: relative;
        z-index: 4;
        box-shadow: 0 0 0 8px var(--color-body);
        box-shadow: 0 0 0 2px white;
        border: 5px solid var(--color-body);
        margin: auto;
      }
    }
    div {
      grid-row: 1;
    }
    & h1 {
      font-size: 4em;
      font-weight: 400;
      text-transform: lowercase;
      letter-spacing: 0.02ch;
      margin-bottom: 0;
    }
  }
}
