/*catalog issues*/
.catalog-entries {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10ch 5ch;
  flex-wrap: wrap;
  & li {
    display: block;
    width: 400px;
  }
  & h3 {
    margin-bottom: 0.3em;
  }
  & a {
    font-variant-caps: all-small-caps;
    color: var(--color-main);
    margin-left: auto;
    display: block;
  }
}
