body {
  padding: 3em 5vw;
  /* min-height: 100vh; */
  /* padding:0; */
}

main {
  margin: auto;
  margin-top: 10em;
}

.background {
  position: fixed;
  background-color: var(--color-background);
  inset: 0;
  z-index: -300;
}

footer {
  /* border-top: 2px solid var(--color-meta); */
  padding-top: 1em;
  margin-top: 8em;
  background: white;
  text-align: center;
  border-top: 1px solid grey;
  font-family: var(--font-meta);
  & .footer-text {
    width: clamp(200px, 50%, 500px);
    margin-left: auto;
  }
}

.topbar img {
  max-width: 200px;
}
