body {
  padding: 0;
  margin: 0;
}

.noscroll {
  scroll-behavior: unset;
  scrollbar-gutter: unset;
}

main {
  margin: auto;
  margin-top: 10em;
  padding: 0 2em;
}

.background {
  position: fixed;
  background-color: var(--color-background);
  inset: 0;
  z-index: -300;
}

footer {
  /* border-top: 2px solid var(--color-meta); */
  text-align: center;
  border-top: 1px solid var(--color-main);
  padding: 0.5em 0.8em;
  font-family: var(--font-meta);

  & .footer-text {
    width: clamp(200px, 50%, 500px);
    margin-left: auto;
  }
}

.topbar img {
  max-width: 200px;
}
