{% extends "base.njk" %}
{% block bodyclass %}
    module-single
{% endblock bodyclass %}
{% block content %}
    <main>
        <figure>
            {% if picture %}
                <img src="/images/{{ picture }}" alt="">
            {% else %}
                <img src="/images/{{id}}.png" alt="" class="module-picture">
            {% endif %}
            <figcaption>{{ title | lower }}</figcaption>
        </figure>
        <section class="backlink">
            Back to <a href="/modules/">modules</a>
        </section>
        <article>
            <div class="module-content">
                <header>
                    <h1>{{ title }}</h1>
                    <p class="subtitle">{{ subtitle }}</p>
                </header>
                <div class="metadata">
                    <p class="url">
                        <a href="{{ url }}">Website</a>
                    </p>
                    <div class="shops">
                        {% for shop in shop  %}
                            <p class="shop">
                                <a href="{{ shop.url }}">Shop {{ shop.place }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% if introduction %}<div class="entry-content-introduction">{{ introduction | markdownify | safe }}</div>{% endif %}
                <div class="entry-content-text">{{content | safe}}</div>
            </div>
        </article>
    </main>
{% endblock content %}
