{% extends "base.njk" %}
{% block bodyclass %}
    module-index
{% endblock bodyclass %}
{% block content %}
    <main>
        <header>
            <h1>{{ title }}</h1>
            <p class="manufacturer">{{ manufacturer }}</p>
            <p class="subtitle">{{ subtitle }}</p>
        </header>
        <section class="menu">
            <label for="searchFilter">Search:</label>
            <input id="searchbox" name="searchFilter">
        </section>
        <div id="imgtemp">
            {% for item in collections[catalog] | orderBy("data.title", "asc") %}
                {% if picture %}
                    <img id="img-{{ item.data.id }}"
                         src="/images/{{ item.data.picture }}"
                         alt="">
                {% else %}
                    <img id="img-{{ item.data.id }}"
                         src="/images/{{ item.data.id }}.png"
                         alt="">
                {% endif %}
            {% endfor %}
        </div>
        <figure id="module-show">
        </figure>
        <section class="catalog-index">
            <ul class="catalog-entries">
                {% for item in collections[catalog] | orderBy("data.title", "asc") %}
                    {% if catalog == item.data.catalog and item.data.type == "entry" %}
                        <li class="catalog-{{ item.data.type }}">
                            <a data-img="#img-{{ item.data.id }}"
                               class="module"
                               href="{{ item.url }}">
                                <span class="module-title">{{ item.data.title }}</span>
                                {% if item.data.manufacturer %}
                                    <span class="module-manufacturer">{{ item.data.manufacturer | markdownifyInline }}</span>
                                {% endif %}
                                {% if item.data.replacedby %}
                                    <span>(discontinued replaced by  <a href="/modules/{{ replacedby }}/">{{ replacedby }})</a></span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock content %}
{% block endscripts %}
    {# script for showing/hiding the images #}
    <script>
    document.querySelectorAll(".module").forEach(module => {
        module.addEventListener("mouseover", function (event) {
            document.querySelector("#module-show").innerHTML = document.querySelector(module.dataset.img).outerHTML;
      })
    })
    </script>
    {# script for the search/filter #}
    <script>
let cards = document.querySelectorAll('.catalog-entry')
    
function liveSearch() {
    let search_query = document.querySelector("#searchbox").value;
    
    //Use innerText if all contents are visible
    //Use textContent for including hidden elements
    for (var i = 0; i < cards.length; i++) {
        if(cards[i].textContent.toLowerCase()
                .includes(search_query.toLowerCase())) {
            cards[i].classList.remove("is-hidden");
        } else {
            cards[i].classList.add("is-hidden");
        }
    }
}

//A little delay
let typingTimer;               
let typeInterval = 100;  
let searchInput = document.querySelector('#searchbox');

searchInput.addEventListener('keyup', () => {
    console.log("letter")
    clearTimeout(typingTimer);
    typingTimer = setTimeout(liveSearch, typeInterval);
});


    </script>
{% endblock endscripts %}
