{% extends "base.njk" %}
{% block bodyclass %}
home
{% endblock bodyclass %}
{% block content %}
    <main>
        <header>
            <h1>{{ title }}</h1>
            {% if intro %}<p class="intro">{{ intro }}</p>{% endif %}
        </header>
        <article>{{ content | safe }}</article>
        {% for item in collections.menuitems  %}
            <ul>
                <a href="{{ item.url }}">
                    <li>
                    {% if item.data.menutitle %}
                        {{ item.data.menutitle }}
                    {% else %}
                        {{ item.data.title }}
                    {% endif %}
                    </li>
                </a>
            </ul>
        {% endfor %}
    </main>
{% endblock content %}
